@media (max-width: 75em) {
    .banner__text-heading {
        width: 100%;
        font-size: 45px;
    }

    .banner {
        padding-top: 450px;
    }
    
    .banner__text {
        top: 155px;
    }

    .content-box {
        margin-top: 55px;
    }

    .content-slidebar__heading {
        margin-top: 70px;
    }

    #otherActivities::before {
        left: 0;
    }

    .otherActivities__item-img {
        height: 100px;
    }

    .footer__main {
        margin-top: 42px;
    }

    .footer__heading {
        margin-top: 42px;
    }
}

@media (max-width: 49.5em) {
    :root {
        --header-height: 60px;
    }

    .header__left {
        width: 98.99%;
    }

    .header__right {
        height: 60px;
        width: 9.01%;
    }

    .header__nav-mobile {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        bottom: 0;
        background-color: #471873;
        transition: all linear 0.3s;
        z-index: 1;
    }

    .header__nav-mobile-main {
        height: 90%;
        background-image: url('../img/mb-cover-bg.svg');
        background-repeat: no-repeat;
        background-position: bottom left;

    }

    .header__nav-mobile-body {
        overflow-y: auto;
        height: calc(90vh - 120px);
    }

    .header__nav-list {
        display: block;
        margin-top: 55px;
        overflow-y: auto;
    }

    .header__nav-mobile-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #623a87;
    }

    .header__nav-mobile-control-close,
    .header__nav-mobile-control-back {
        padding: 18px 22px;
        font-size: 20px;
    }

    .header__nav-link {
        display: block;
        font-size: 27px;
        padding-left: 45px;
        padding-bottom: 15px;
        color: #9074ab;
        font-weight: 500;
    }

    .header__nav-item + .header__nav-item .header__nav-link {
        padding-left: 45px;
    }

    .header__nav-mobile-contact {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10%;
        background-color: white;
    }

    .header__nav-mobile-contact > div {
        padding: 20px;
    }

    .header__nav-mobile-contact > div > i {
        font-size: 24px;
        color: #8a8a8a;
    }

    .header__search-icon {
        display: block;
    }

    .header__right-icon,
    .header__right-select {
        display: none;
    }

    .header__right-menu {
        display: flex;
    }

    .header__nav-item:hover .header__nav-link {
        color: white;
    }

    .header__nav-mobile.active {
        left: 0;
    }

    .header__nav-sub {
        margin-top: 55px;
        position: unset;
        background-color: #471873;
        padding-left: 0;
        padding-right: 0;
    }

    .header__nav-sub-link {
        display: block;
        font-size: 22px;
        padding: 0 0 15px 45px;
        color: white;
        border-bottom: none !important;
        font-family: 'EB Garamond', serif;
        font-weight: 600;
    }
    
    .header__nav-item:hover > a {
        color: white;
    }

    .header__nav-sub-link:hover {
        color: white;
    }

    .header__nav-mobile-control-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 0.83;
        letter-spacing: 1.5px;
        color: #9074ab;
    }
    
    .header__nav-mobile-contact a {
        color: #8a8a8a;
        font-size: 24px;
    }

    .header__nav-mobile-body-languages {
        margin-top: 70px;
        margin-left: 30px;
    }

    .header__nav-mobile-body-languages a {
        padding-left: 15px;
        font-size: 17px;
        line-height: 1.18;
        letter-spacing: 1.5px;
        font-weight: 600;
        color: #a38bb9;
    }

    .header__nav-mobile-body-languages a.active {
        color: #fff;
    }

    .header__nav-mobile-body-languages {
        display: block;
    }
}